.new__card:hover  {
    /* background-color: #292e25; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.new__card {
    transition: all 1s ease-in-out;
}

.section__new {
    margin-top: clamp(3.125rem, 0rem + 7.333vw, 7.5rem);
}

.new-items .swiper-slide img {
    transition: transform 0.5s ease-in-out;
    object-fit: cover;
    max-width: 400px;
   
}

.new-items .swiper-slide:hover img {
    transform: scale(1.1);
}